body
{
  background-color: #1B1F39;
}
.container
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  background-color: #0C0F28;
  border-radius: 3px;
}