body {
    padding: 0%;
    margin: 0%;
    background-color: rgba(14, 16, 19, 1);
}

p {
    padding-left: 10px;
    color:white;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.topbar {
    position: -webkit-sticky; /* for browser compatibility */
    position: sticky;
    top: 0;

    height: 50px;

    padding: 0;
    margin: 0;
}

.svg {
    height: 30px;
    padding: 3px;
}

.search {
    width: calc(100% - 12px);
    height: inherit;

    padding-left: 10px;
    margin: 0;

    background-color: black;
    border: 0;
    color:white;
    outline: none;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.main{
    margin: 10px;
    list-style-type: none;
}

a {
    font-family: "DM Sans", sans-serif;
    font-size: 300%;
    font-weight: 1000;
    transition: 0.1s;
}

.main a:link {color:#ffffff; text-decoration: none;}
.main a:visited {color:#ffffff; text-decoration: none;}
.main a:active {color:#ffffff; text-decoration: none;}

.main a:hover {
    color:#1177ff; 
    text-decoration: underline; 
    transition: 0.3s;
    text-shadow: #1177ff 0px 0 50px;
    font-size: 375%;
}