@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800;900&display=swap");

::selection {
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
}

#gradient-with-text {
  /* width/height */
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: rgb(0, 0, 0);
}
h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 4em;
  /* this is the magic css rule */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    302deg,
    rgba(218, 0, 255, 1) 0%,
    rgba(114, 0, 219, 1) 25%,
    rgba(0, 1, 255, 1) 50%,
    rgba(0, 99, 255, 1) 75%,
    rgba(0, 211, 255, 1) 100%
  );
}
