@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    background-color: rgba(14, 16, 19, 1);
}

p {
    color: #505050;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 35px;
}

.container { 
    height: fit-content; /* Set your own height: percents, ems, whatever! */
    width: fit-content; /* Set your own width: percents, ems, whatever! */
    overflow: auto; /* Recommended in case content is larger than the container */
    margin: auto; /* Center the item vertically & horizontally */
    position: absolute; /* Break it out of the regular flow */
    top: 0; left: 0; bottom: 0; right: 0; /* Set the bounds in which to center it, relative to its parent/container */
    text-align: center;
}

.container h1 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-size: 400%;
    font-style: italic;
    color:red;
    margin: 0px;
}

.container button {
    border-width: 0;

    background-color: red;
    color: white;
    font-size: 125%;
    padding: 10px;
    transition: 0.1s;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.container button:hover {
    border-width: 0;

    background-color: maroon;
    color: white;
    font-size: 125%;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
    cursor: pointer;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}